.nav__content__btn {
    display: none;
}
.nav__content__list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin: 18px;
    z-index: 105;
    text-align: right;
}
.nav__content__item {
    display: inline-block;
    padding: 0 1%;
    box-sizing: border-box;
    border-bottom: none;
}
.nav__content__item a {
    display: block;
    color: inherit;
    font-size: inherit;
}
.nav__content__item a:hover, .nav__content__item a:focus {
    color: rgb(124, 124, 124);
}
/* navigation - Animation */
@keyframes navAni{
    0% {
        transform: translate(20%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.nav__content__list {
    animation-name: navAni;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-delay: 800ms;
}