/* main */
.main__list {
    min-width: 200px;
    max-width: 400px;   
    margin: 0 auto;
    margin-top: 0px;
}
.main__item {
    background-color: #F5F5F5;
    width: 100%;
    height: 361px;
    text-align: center;    
    margin: 0px;
}
.main__item a {
    padding: 20px 0;
}
.main__item__figure {
    width: 100%;
}
.main__item {
    margin-bottom: 20px;
}