@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean);
@import url(./reset.css);
*, * body {
    box-sizing: border-box;
}
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    color: #000;
    background-color: #fff;
}
.wrap {
    position: relative;
}
.hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
/* 공통 모듈화 */


/* Header */
.header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, .6);
}
.header .logo {
    width: 232px;
    padding: 23px 0 20px 23px;
}
.header .logo a {
    display: block;
    padding: 0 4px;
}

/* main */
.main__container {
    margin-top: 100px;
    padding:  0 5% 70px;
}
.main__list {
    margin-top: 100px;
    min-width: 480px;
    max-width: 840px;   
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}
.main__item {
    background-color: #F5F5F5;
    width: 49.1%;
    height: 361px;
    text-align: center;    
    margin-bottom: 15px;
    position: relative;
}
@media (max-width: 840px) {
    .main__item{
        width: 48.94%;
    }
}
@media (max-width: 710px) {
    .main__item{
        width: 48.75%;
    }
}
@media (max-width: 610px) {
    .main__item{
        width: 48.7%;
    }
}
.main__item:nth-child(2n) {
    float: right;
}
.main__item:nth-child(2n-1) {
    float: left;
}
.main__item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.main__item__figure {
    width: 100%;
}
.main__item__figure img {
    width: 295px;
    height: auto;
    /* display: block; */
    /* margin: 0 auto; */
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease .5s;
}
.main__item__figure img:hover {
    transform: translateX(-50%) scale(1.08);
}
figcaption {
    font-size: 1.8rem;
    padding-top: 287px;
}
.main__item__detail {
    z-index: 10;
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%;
}
/* 제품 상세 detail */
.main__item__detail {
    padding:20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(228, 228, 228);
    display:none;
}
.item__info__title {
    font-size: 1.8rem;
    line-height: 26px;
    display: block;
    color:#202022;
    padding: 25px 0 16px;
}
.item__info__enTitle {
    display: block;
    font-size: 1.4rem;
    line-height: 20px;
    color: #737373;    
}
.item__info__text {
    font-size: 1.6rem;
    line-height: 23px;
    color: #000000;
    border-top:2px solid #202023;
    padding-top: 14px;
}
.main__item__healthInfo {
    position: absolute;
    bottom: 0;
    left:0;
    height: 92px;
    background: #f8f8f8;   
    width: 100%; 
    font-size: 1.3rem;
    line-height: 19px;    
    padding: 16px 0 16px 10%;
}
.main__item__healthInfo::after {
    content: "";
    display: inline-block;
    top: 16px;
    left: 50%;
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: #999999;
}
.main__item__healthInfo dt{
    display:inline-block;
    min-width: 24%;  
    /* background-color: green; */
}
.main__item__healthInfo dd {
    display: inline-block;
    width: 24%;  
    /* background-color: tomato; */
}
@media (max-width: 800px) {
    .main__item__healthInfo{
        padding-left: 9%;
        font-size: 1.2rem;
    }
}
@media (max-width: 700px) {
    .main__item__healthInfo{
        padding-left: 7%;
        font-size: 1.1rem;
    }
    .main__item__healthInfo dt{
        min-width: 23%;
    }
}
.main__item__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-image: url(../images/detail-close.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -200px;
    overflow: hidden;
}
.main__item__btn:hover {
    background-color: #f1f1f1;
}
/* main item detail */
.item__info__enTitle {
    font-weight: normal;
}
.itemAct {
    display: block !important;
}


/* keyframe */
/* Header - Animation */
@keyframes headerAni{
    0% {
        transform: translate(0,-100px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.header {
    animation-name: headerAni;
    animation-duration: 800ms;
    animation-fill-mode: both;
    transition-timing-function: ease-in;
}
/* Logo - Animation */
@keyframes logoAni{
    0% {
        transform: translate(-105%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.logo {
    animation-name: logoAni;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-delay: 800ms;
}
/* navigation - Animation */
@keyframes navAni{
    0% {
        transform: translate(105%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.nav__content__btn {
    animation-name: navAni;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-delay: 800ms;
}
/* item - Animation */
@keyframes itemAni{
    0% {
        transform: translate(0,10%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.main__item {
    animation-name: itemAni;
    animation-duration: 800ms;
    animation-fill-mode: both;
    transition-timing-function: ease-in;
}
/* detail -Animation */
@keyframes detailAni{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main__item__detail {
    animation-name: detailAni;
    animation-duration: 1200ms;
    animation-fill-mode: both;
}
.main__item:nth-child(1) {
    animation-delay: 1000ms;
}
.main__item:nth-child(2) {
    animation-delay: 1200ms;
}
.main__item:nth-child(3) {
    animation-delay: 1400ms;
}
.main__item:nth-child(4) {
    animation-delay: 1600ms;
}
.main__item:nth-child(5) {
    animation-delay: 1800ms;
}
.main__item:nth-child(6) {
    animation-delay: 2000ms;
}
.main__item:nth-child(7) {
    animation-delay: 2200ms;
}
.main__item:nth-child(8) {
    animation-delay: 2400ms;
}