/* Navigation */
/* nav btn */
.nav__content__btn {
    box-sizing: border-box;
    padding: 22px 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 67px;
    height: 67px;
    z-index: 200;
}
.nav__content__btn:hover {
    background-color: #f1f1f1;
}
.btn__nav {
    position: relative;
    top: 0px;
    right: 0px;
    width: 26px;
    height: 22px;
}
.nav__content__btn span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    width: 26px;
    height: 4px;
}
.nav__content__btn .btn__top {
    top: 0%;
}
.nav__content__btn .btn__middle {
    top: 50%;
    transform: translateY(-50%);
}
.nav__content__btn .btn__bottom {
    top: 100%;
    transform: translateY(-100%);
}
.navBtn span{
    background-color: #fff;
}

/* 하은 수정 */
.btn__nav{
    overflow: hidden;
}
.navBtn{
    background-color: transparent;
}
.navBtn:hover{
    background-color: #2E437C;
}
.navBtn .btn__top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    animation-name:btn__topAni;
    animation-duration: 250ms;
    animation-fill-mode: both;
    transition-timing-function: ease-out;
}
.navBtn .btn__middle {
    top: 50%;
    transform: translate(-110%, -50%);
    animation-name:btn__middleAni;
    animation-duration: 250ms;
    animation-fill-mode: both;
    transition-timing-function: ease-out;
}
.navBtn .btn__bottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    animation-name:btn__bottomAni;
    animation-duration: 250ms;
    animation-fill-mode: both;
    transition-timing-function: ease-out;
}
@keyframes btn__topAni {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%) rotate(45deg);
    }
}
@keyframes btn__middleAni {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translate(-110%, -50%);
    }
}
@keyframes btn__bottomAni {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-50%) rotate(-45deg);
    }
}
/* 하은 수정 */

/* nav list */
@keyframes nav__listAni{
    0% {
        transform: translate(105%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
.navBtn+.nav__content__list {
    animation-name: nav__listAni;
    animation-duration: 200ms;
    animation-fill-mode: both;
}
.nav__content__list {
    background-color: rgba(11, 18, 40, 0.9);
    position: fixed;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    z-index: 150;
    transform: translateX(-110%);
}
.navBtn+.nav__content__list {
    transform: none;
}
.nav__content__item {
    border-bottom: 1px solid rgba(33, 55, 120, 0.5);
}
.nav__content__item a {
    display: block;
    color: #fff;
    line-height: 51px;
    font-size: 16px;
    padding-left: 16px;
}
.nav__content__item a:hover, .nav__content__item a:focus {
    background-color: #2E437C;
}